section.catalog#excursions
  .container.catalog__container

    .catalog__section
      //h2.catalog__section-title.title-section Заголовок 1
      ul.catalog__section-list.catalog__section-list--3categ

        li.catalog__section-item.full
          a(href="bright-holiday.html")
            .catalog__section-item-image(style="background-image: url(https://thumb.tildacdn.com/tild3361-6637-4630-b330-333637363065/-/resize/300x400/-/format/webp/Xp9zpOH6y_9p9aDRE43H.png)")
            h3 Яркий отдых в Санкт-Петербурге 2023

        li.catalog__section-item.half
          a(href="bright-holiday.html")
            .catalog__section-item-image(style="background-image: url(https://thumb.tildacdn.com/tild3061-3565-4161-b137-383730643963/-/resize/300x400/-/format/webp/a8e3e02a-644f-11ea-a.jpg)")
            h3 Индивидуальные экскурсии

        li.catalog__section-item.half
          a(href="bright-holiday.html")
            .catalog__section-item-image(style="background-image: url(https://thumb.tildacdn.com/tild3438-3839-4534-b564-303235343563/-/resize/300x400/-/format/webp/obzornye-home.jpg)")
            h3 Обзорные экскурсии по городу


    .catalog__section
      //h2.catalog__section-title.title-section Заголовок 2
      ul.catalog__section-list.catalog__section-list--4categ

        li.catalog__section-item.full
          a(href="/test/testpage.html")
            .catalog__section-item-image(style="background-image: url(https://thumb.tildacdn.com/tild3431-3736-4431-b631-363361353638/-/resize/300x400/-/format/webp/D7l6m1AW0AADk73.png)")
            h3 Экскурсии в пригороды

        li.catalog__section-item.half
          a(href="extragid.html")
            .catalog__section-item-image(style="background-image: url(https://thumb.tildacdn.com/tild3432-6361-4536-b835-303965333430/-/resize/300x400/-/format/webp/2b9cd66d-9d02-4fbd-a.jpg)")
            h3 Экскурсии по крышам

        li.catalog__section-item.half
          a(href="")
            .catalog__section-item-image(style="background-image: url(https://thumb.tildacdn.com/tild3931-3930-4736-a564-616263623239/-/resize/300x400/-/format/webp/mary-ray-ctdYxnyYm1U.jpg)")
            h3 Парадные и Дворы Петербурга

        li.catalog__section-item.full
          a(href="")
            .catalog__section-item-image(style="background-image: url(https://thumb.tildacdn.com/tild6632-6165-4639-b266-353863626630/-/resize/300x400/-/format/webp/_MG_0726.jpg)")
            h3 Водные прогулки по рекам и каналам



    .catalog__section
      //h2.catalog__section-title.title-section Заголовок 3
      ul.catalog__section-list.catalog__section-list--2categ

        li.catalog__section-item
          a(href="")
            .catalog__section-item-image(style="background-image: url(https://thumb.tildacdn.com/tild3133-3535-4362-b530-316235633265/-/resize/300x400/-/format/webp/nightruscom-spb-0014.jpg)")
            h3 Ночные и вечерние экскурсии

        li.catalog__section-item
          a(href="")
            .catalog__section-item-image(style="background-image: url(https://thumb.tildacdn.com/tild3163-6537-4962-a666-616262653238/-/resize/300x400/-/format/webp/hermitazh-home.jpg)")
            h3 Авторские, тематические экскурсии


    .catalog__section
      //h2.catalog__section-title.title-section Заголовок 4
      ul.catalog__section-list.catalog__section-list--4categ

        li.catalog__section-item
          a(href="")
            .catalog__section-item-image(style="background-image: url(https://thumb.tildacdn.com/tild3233-3063-4666-a631-363061626265/-/resize/300x400/-/format/webp/S2KkI0sq0Bg.jpeg)")
            h3 Свидание на крыше

        li.catalog__section-item
          a(href="")
            .catalog__section-item-image(style="background-image: url(https://thumb.tildacdn.com/tild3964-3434-4637-b836-313239646365/-/resize/300x400/-/format/webp/B033FDA7-E44A-4D7E-8.jpeg)")
            h3 Фотосессии на крыше

        li.catalog__section-item
          a(href="")
            .catalog__section-item-image(style="background-image: url(https://thumb.tildacdn.com/tild6161-3565-4230-b361-653362333938/-/resize/300x400/-/format/webp/IMG_0452.jpg)")
            h3 Аренда катеров и яхт

        li.catalog__section-item.full
          a(href="")
            .catalog__section-item-image(style="background-image: url(https://thumb.tildacdn.com/tild6438-6234-4962-b765-666436623231/-/resize/300x400/-/format/webp/hu-chen-pwuzRFG4Dm4-.jpg)")
            h3 Ночные водные экскурсии под развод мостов



    .catalog__section
      //h2.catalog__section-title.title-section Заголовок 5
      ul.catalog__section-list.catalog__section-list--2categ

        li.catalog__section-item.half
          a(href="")
            .catalog__section-item-image(style="background-image: url(https://thumb.tildacdn.com/tild3837-3363-4161-b366-396661633465/-/resize/300x400/-/format/webp/IMG_8030.JPG)")
            h3 Поле-свидание на самолете

        li.catalog__section-item.half
          a(href="")
            .catalog__section-item-image(style="background-image: url(https://thumb.tildacdn.com/tild3630-6631-4437-b839-303836623966/-/resize/300x400/-/format/webp/aFndYDH_5.jpeg)")
            h3 Просмотр салюта с крыши 2023








