section.catalog__section
  h2.catalog__section-title.title-section Индивидуальные экскурсии
  ul.catalog__section-list.catalog__section-list--4categ

    li.catalog__section-item
      a(href="")
        .catalog__section-item-image(style="background-color: #DFF7F7 ")
        h3 Индивидуальная обзорная экскурсия по историческому центру Санкт-Петербурга

    li.catalog__section-item
      a(href="")
        .catalog__section-item-image(style="background-image: url(./assets/img/categories/indi/02.jpg)")
        h3 Индивидуальная обзорная экскурсия с посещением храма Спаса-на-Крови


    li.catalog__section-item
      a(href="")
        .catalog__section-item-image(style="background-image: url(./assets/img/categories/indi/03.jpg)")
        h3 Индивидуальная обзорная экскурсия с посещением музея Фаберже

    li.catalog__section-item
      a(href="")
        .catalog__section-item-image(style="background-image: url(./assets/img/categories/indi/04.jpg)")
        h3 Пешеходная экскурсия по городу "Город желаний"

