section.catalog__section
  h2.catalog__section-title.title-section Новый год в Санкт-Петербурге 2023
  ul.catalog__section-list.catalog__section-list--3categ

    li.catalog__section-item
      a(href="novogodnie-ekskursii.html")
        .catalog__section-item-image(style="background-image: url(./assets/img/categories/new-year/01.jpg)")
        h3 Католическое Рождество в Петербурге 2023

    li.catalog__section-item
      a(href="novogodnie-ekskursii.html")
        .catalog__section-item-image(style="background-image: url(./assets/img/categories/new-year/02.jpg)")
        h3 Новогодняя ночь на улицах Петербурга 2023


    li.catalog__section-item
      a(href="novogodnie-ekskursii.html")
        .catalog__section-item-image(style="background-image: url(./assets/img/categories/new-year/03.jpg)")
        h3 Блистательный Петербург Екатерины Великой
