section.catalog__section
  h2.catalog__section-title.title-section Обзорные экскурсии
  ul.catalog__section-list.catalog__section-list--3categ

    li.catalog__section-item
      a(href="")
        .catalog__section-item-image(style="background-image: url(./assets/img/categories/obzornye/01.jpg)")
        h3 Индивидуальная обзорная экскурсия по историческому центру Санкт-Петербурга

    li.catalog__section-item
      a(href="")
        .catalog__section-item-image(style="background-image: url(./assets/img/categories/obzornye/02.jpg)")
        h3 Индивидуальная обзорная экскурсия с посещением храма Спаса-на-Крови


    li.catalog__section-item
      a(href="")
        .catalog__section-item-image(style="background-image: url(./assets/img/categories/obzornye/03.jpg)")
        h3 Индивидуальная обзорная экскурсия с посещением музея Фаберже

