.banner
  .banner__container.container
    .banner__content(style="background-image: url(./assets/img/banner.jpg)")
      h2.banner__title Новогодняя сказка Петербурга
      p.banner__text Ежедневная вечерняя экскурсия с 25.12.22 числа в 18:00
      .banner__actions
        .banner__price.button.button--accent От 1200 ₽
        a.banner__link.button.button--outline(href="" target="_blank") Подробнее
