.page404
  .page404__container.container
    h1.page404__title 404
    p.page404__subtitle Кажется что-то пошло не так…
    .page404__buttons
      a.button.button--accent(href="index.html") На главную
      button.fill-form.button-popup-ask Сообщить об ошибке
