section.hero-index
  .swiper-container.main-slider.loading
    .swiper-wrapper
      .swiper-slide
        figure.slide-bgimg(style='background-image:url(https://img.freepik.com/free-photo/nevskiy-prospekt-at-night_1398-450.jpg?w=1380&t=st=1672856334~exp=1672856934~hmac=c1c2dbbbde8504a8aa316480331862b93cef3594fc6b8b2e1e718a20715778cb)' data-swiper-parallax-x='50%')
          img.entity-img(src='https://images.unsplash.com/photo-1483985988355-763728e1935b?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MDE1NTg2Ng&ixlib=rb-1.2.1&q=85')
        .content
          p.title Shaun Matthews
          span.caption(data-swiper-parallax-x='30%' data-swiper-parallax-opacity='0')
            | Lorem Ipsum has been the industry&apos
      .swiper-slide
        figure.slide-bgimg(style='background-image:url(https://img.freepik.com/premium-photo/aerial-landscape-with-warships-in-the-neva-river-before-the-holiday-of-the-russian-navy-at-early-mor_215484-566.jpg?w=1380)' data-swiper-parallax-x='50%')
          img.entity-img(src='https://images.unsplash.com/photo-1500643752441-4dc90cda350a?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MDE1NTg2Ng&ixlib=rb-1.2.1&q=85')
        .content
          p.title Alexis Berry
          span.caption(data-swiper-parallax-x='30%' data-swiper-parallax-opacity='0')
            | Lorem Ipsum has been the industry&apos
      .swiper-slide
        figure.slide-bgimg(style='background-image:url(https://img.freepik.com/free-photo/view-of-st-petersburg-in-night_1398-2768.jpg?w=1380&t=st=1672856601~exp=1672857201~hmac=3f3778bcb4021be80a4096dac4736675d5f53de24f2862ac6a59855bf9e0e7d3)' data-swiper-parallax-x='50%')
          img.entity-img(src='https://images.unsplash.com/photo-1465408953385-7c4627c29435?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MDE1NTg2Ng&ixlib=rb-1.2.1&q=85')
        .content
          p.title Billie&#x9;Pierce
          span.caption(data-swiper-parallax-x='30%' data-swiper-parallax-opacity='0')
            | Lorem Ipsum has been the industry&apos
    // If we need navigation buttons
    .swiper-button-prev.swiper-button-white
    .swiper-button-next.swiper-button-white
