header.header-extragid
  .header-extragid__container.container
    img.header-extragid__logo(src="./assets/img/icons/logo-extragid.svg")
    a.button.header-extragid__button-request(href="https://api.whatsapp.com/send?phone=79111562004")
      span.header-extragid__button-request-circle
      | Записаться
