.tags
  .tags__container.container
    h2.title-section Подбор по тегам

    .tags__list
      button.tags__item В составе группы
      button.tags__item Индивидуально
      button.tags__item Невский проспект
      button.tags__item Петроградка
      button.tags__item Акватория Невы
      button.tags__item КОМБО 3в1
      button.tags__item Парадные и дворы
      button.tags__item Коммуналки
      button.tags__item Петроградка
      button.tags__item Город желаний
      button.tags__item Мистический Петербург
      button.tags__item Развод мостов с крыши
      button.tags__item Экскурсия + фотосессия
      button.tags__item Свидание на крыше
      button.tags__item Подарочный сертификат

