// Шаблон
.filter
  .filter__container.container
    h2.title-section Фильтр экскурсий

    ul.filter__tabs
      li.filter__tabs-item Все <span class="filter__count">80</span>
      li.filter__tabs-item Обзорные
      li.filter__tabs-item В пригороды
      li.filter__tabs-item Пешеходные
      li.filter__tabs-item Музеи
      li.filter__tabs-item Крепости
      li.filter__tabs-item Дворцы
      li.filter__tabs-item На теплоходе
      li.filter__tabs-item Водные
      li.filter__tabs-item По крышам
      li.filter__tabs-item По парадным и дворам
      li.filter__tabs-item Школьникам
      li.filter__tabs-item Вечерние
      li.filter__tabs-item Ночные
      li.filter__tabs-item Фотосессии
      li.filter__tabs-item Квесты
      li.filter__tabs-item Свидания
      li.filter__tabs-item Развод мостов
      li.filter__tabs-item На самолете


