.filter

  &__body
    display: flex
    flex-direction: column
    gap: 24px

  &__tabs
    overflow: hidden

  &__tabs-list
    display: flex
    align-items: center
    gap: 12px 16px
    flex-wrap: wrap
    @media (max-width: 768px)
      flex-wrap: nowrap
      gap: 8px
      overflow-x: auto
      -ms-overflow-style: none
      scrollbar-width: none
      &::-webkit-scrollbar
        width: 0
        height: 0

  &__bottom
    width: fit-content
    position: relative
    display: flex
    align-items: center
    gap: 12px 16px
    flex-wrap: wrap
    @media (max-width: 768px)
      gap: 8px

    &-item--all-tags
      position: relative
      display: flex
      align-items: center
      gap: 8px
      svg
        width: 20px
        height: 20px
      &:hover svg
        stroke: $yellow
      &.js-all-tags-active + .filter__all-tags
        display: flex



  &__tabs-item,
  &__bottom-item,
  &__tabs-item--more
    white-space: nowrap
    padding: 8px 12px
    border: 1px solid $black
    border-radius: 8px
    cursor: pointer
    transition: $transition
    width: fit-content
    //box-shadow: rgb(0 0 0 / 8%) 0px 1px 9px
    &:hover,
    &.js-filter-tabs-active
      background-color: $black
      color: #fff
    @media (max-width: 768px)
      padding: 8px 12px
      font-size: 14px

  &__tabs-item
    &:nth-child(n+7)
      display: none
    &.js-visible
      display: block
    @media (max-width: 768px)
      &:nth-child(n+4)
        display: none
      &.js-visible
        display: block

  &__all-tags
    display: none
    width: 100%
    position: absolute
    bottom: -10px
    right: 0
    z-index: 2
    background-color: #fff
    padding: 20px 24px
    border: 1px solid $black
    border-radius: 8px
    transform: translateY(100%)
    gap: 40px
    flex-direction: column

    &-close
      position: absolute
      right: 24px
      cursor: pointer
      background-color: #ECECEC
      width: 24px
      height: 24px
      border-radius: 50%
      display: flex
      align-items: center
      justify-content: center
      color: $black
      font-size: 12px


    &-title
      display: block
      font-weight: 500
      margin-bottom: 8px

    &-list
      display: flex
      gap: 12px 24px
      white-space: nowrap
      flex-wrap: wrap

    &-item label
      display: flex
      align-items: center
      gap: 8px


