.container-envlope.container
  .envlope-wrapper
    #envelope.close
      .front.flap
      .front.pocket
      .letter
        .words.line1
        .words.line2 Скидка 15%
        .words.line3
        .words.line4
      .hearts
        .heart.a1
        .heart.a2
        .heart.a3
  //.reset
  //  button#open Open
  //  button#reset Reset
