extends ../layouts/extragid

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content

  include ../components/form/form


  //include ../components/hero/hero-index

  //include ../components/_items/banner/banner
  include ../components/header-banner/header-banner

  include ../components/extragid/tags/tags
  include ../components/how-we-work/how-we-work

  include ../components/feedback/feedback





