extends ../layouts/main

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content

  section.section-column

    include ../components/hero/hero-index

    include ../components/_items/banner/banner
    include ../components/catalog/catalog
    include ../components/transport-service/transport-service
    include ../components/partners/partners

    include ../components/yandex-reviews/yandex-reviews




