extends ../layouts/letter

block variables
  - var title = "letter"
  - var pageClass = ''
  - var activePage = 'index'

block content

  section.section-letter

    include ../components/letter/letter




