extends ../layouts/main

block variables
  - var title = "Новогодние экскурсии"
  - var pageClass = ''
  - var activePage = 'index'

block content

  section.section-column

    include ../components/_items/excursion-card/excursion-card




