section.header-banner
  .header-banner__container.container
    .header-banner__content
      .header-banner__header
        h2.header-banner__title Экскурсии по Санкт&nbsp;-&nbsp;Петербургу
        span.header-banner__subtitle Ваш отдых — наша забота!

      ul.header-banner__icon-list
        li.header-banner__icon-item
          img(src="./assets/img/icons/feedback/people.svg")
          span Без <br> очередей

        li.header-banner__icon-item
          img(src="./assets/img/icons/how-we-work/04.svg")
          span Уникальные <br> маршруты

        li.header-banner__icon-item
          img(src="./assets/img/icons/ticket.svg")
          span Входные <br> билеты

      a(href="#feeblack").button.button--outline-black Заказать звонок

    .header-banner__image
      img(src="https://thumb.tildacdn.com/tild3432-6361-4536-b835-303965333430/-/resize/300x400/-/format/webp/2b9cd66d-9d02-4fbd-a.jpg")
