header.header
  .container.header__container
    a.header__logo(href="index.html")
      img.header__logo-text(src="./assets/img/icons/logo-text.svg")
      img.header__logo-icon(src="./assets/img/icons/logo-border.svg")

    nav.header__nav

      ul.header__nav-top-list

        li.header__nav-top-item
          a.header__nav-top-link(href="##")
            include ../../img/icons/subnav/1,6.svg
            span.header__nav-top-text Экскурсии <br> по Петербургу

        li.header__nav-top-item
          a.header__nav-top-link(href="##")
            include ../../img/icons/subnav/city.svg
            span.header__nav-top-text Экскурсии <br> в пригороды

        li.header__nav-top-item
          a.header__nav-top-link(href="##")
            include ../../img/icons/subnav/12.svg
            span.header__nav-top-text Школьные <br> экскурсии и туры

        li.header__nav-top-item
          a.header__nav-top-link(href="##")
            include ../../img/icons/subnav/auto.svg
            span.header__nav-top-text Аренда <br> транспорта


      ul.header__nav-list

        li.header__nav-item
          a.header__nav-link.header__nav-link--border(href="##") Тур в Санкт-Петербург
          ul.header__subnav
            li.header__subnav-item
              a.header__subnav-link(href="##")
                img(src="./assets/img/icons/subnav/1,6.svg")
                span Тур в Санкт-Петербург
                small Классические, групповые, индивидуальные
            li.header__subnav-item
              a.header__subnav-link(href="##")
                img(src="./assets/img/icons/subnav/2.svg")
                span Корпоративные туры
                small Интенсивные туры и бизнес-поездки
            li.header__subnav-item
              a.header__subnav-link(href="##")
                img(src="./assets/img/icons/subnav/3.4.8.svg")
                span Школьные туры с проживанием и питанием
                small Классические, 6+1, на каникулы
            li.header__subnav-item
              a.header__subnav-link(href="##")
                img(src="./assets/img/icons/subnav/3.4.8.svg")
                span Экскурсии для школьников
                small Бесплатные сопровождающие


        li.header__nav-item
          a.header__nav-link.header__nav-link--dark(href="##") Экскурсии
          ul.header__subnav.header__subnav--excursion
            li.header__subnav-item
              a.header__subnav-link(href="##")
                img(src="./assets/img/icons/subnav/5.svg")
                span Новый год 2023
                small Новогодние экскурсии по улицам Петербурга
            li.header__subnav-item
              a.header__subnav-link(href="##")
                img(src="./assets/img/icons/subnav/1,6.svg")
                span Экскурсии по Санкт-Петербургу
                small Групповые, авторские, индивидуальные
            li.header__subnav-item
              a.header__subnav-link(href="##")
                img(src="./assets/img/icons/subnav/7.svg")
                span Индивидуальные экскурсии
                small По городу и пригородам
            li.header__subnav-item
              a.header__subnav-link(href="##")
                img(src="./assets/img/icons/subnav/3.4.8.svg")
                span Экскурсии для школьников
                small По городу и пригородам
            li.header__subnav-item
              a.header__subnav-link(href="##")
                img(src="./assets/img/icons/subnav/9.svg")
                span Экскурсии по пригородам
                small Ежедневно на автобусе или индивидуально
            li.header__subnav-item
              a.header__subnav-link(href="##")
                img(src="./assets/img/icons/subnav/10.svg")
                span Обзорные экскурсии
                small Маршруты с посещением музеев
            li.header__subnav-item
              a.header__subnav-link(href="##")
                img(src="./assets/img/icons/subnav/11.svg")
                span Водные прогулки
                small Обзорные по рекам и каналам
            li.header__subnav-item
              a.header__subnav-link(href="##")
                img(src="./assets/img/icons/subnav/12.svg")
                span Пешеходные экскурсии
                small Лучший коктель из фасадного Петербурга
            li.header__subnav-item
              a.header__subnav-link(href="##")
                img(src="./assets/img/icons/subnav/13.svg")
                span Экскурсии по крышам
                small Маршруты в центре города. Вид на все соборы
            li.header__subnav-item
              a.header__subnav-link(href="##")
                img(src="./assets/img/icons/subnav/14.svg")
                span Экскурсии по парадным и дворам
                small Легендарные дворы, знаменитые парадные
            li.header__subnav-item
              a.header__subnav-link(href="##")
                img(src="./assets/img/icons/subnav/15.svg")
                span Авторские экскурсии
                small Уникальные маршруты, авторские программы


        li.header__nav-item
          a.header__nav-link.header__nav-link--border(href="##") Ещё
          ul.header__subnav
            li.header__subnav-item
              a.header__subnav-link(href="##")
                img(src="./assets/img/icons/subnav/16.svg")
                span Салют с крыши 2023
                small Алые Паруса, День Победы, День ВМФ
            li.header__subnav-item
              a.header__subnav-link(href="##")
                img(src="./assets/img/icons/subnav/17.svg")
                span Свидание на крыше
                small Незабываемый вечер на крыше
            li.header__subnav-item
              a.header__subnav-link(href="##")
                img(src="./assets/img/icons/subnav/18.svg")
                span Свидание-полет на самолете
                small Вы вдвоем над Санкт-Петербургом
            li.header__subnav-item
              a.header__subnav-link(href="##")
                img(src="./assets/img/icons/subnav/19.svg")
                span Фотосессия на крыше
                small Эксклюзивные фотокарточки с видом на город
            li.header__subnav-item
              a.header__subnav-link(href="##")
                img(src="./assets/img/icons/subnav/20.svg")
                span Аренда катеров и яхт
                small Высокий комфорт. Отличный отдых на воде

        li.header__nav-item.desctop-hidden
          a.header__nav-link(href="##") Контакты
        li.header__nav-item.desctop-hidden
          a.header__nav-link(href="##") Отзывы
        li.header__nav-item.desctop-hidden
          a.header__nav-link(href="##") Оплата и возврат


    .header__contact
      a.header__contact-phone(href="tel:+79111562004")
        svg.header__contact-phone-icon(width="35" height="35" fill="black")
          use(href='./assets/img/sprite.svg#phone')
        span.header__contact-phone-number +7 (911) 156-20-04
        span.header__contact-phone-text Позвоните мне с 9 до 23

    button.header__burger
      span.header__burger-line
      span.header__burger-line
      span.header__burger-line
      span.header__burger-line
