section.partners
  .container.partners__container
    h2.title-section Наши клиенты

    ul.partners__list

      li.partners__item
        img(src="./assets/img/partners/01.svg")
      li.partners__item
        img(src="./assets/img/partners/02.svg")
      li.partners__item
        img(src="./assets/img/partners/03.svg")
      li.partners__item
        img(src="./assets/img/partners/04.png")
      li.partners__item
        img(src="./assets/img/partners/05.jpg")
      li.partners__item
        img(src="./assets/img/partners/06.png")
      li.partners__item
        img(src="./assets/img/partners/07.svg")
      li.partners__item
        img(src="./assets/img/partners/08.svg")
