section.feedback.container#feeblack
  .feedback__container
    .feedback__content
      .feedback__left
        h2.feedback__title Хватит искать! Просто закажите.
        span.feedback__text Ваш отдых — это наша забота!
        p.feedback__text Индивидуальный подход к туристам, гибкая ценовая политика, оперативность и качество.

      ul.feedback__icons
        li.feedback__icons-item
          img(src="./assets/img/icons/feedback/people.svg")
          span Без очередей
        li.feedback__icons-item
          img(src="./assets/img/icons/feedback/guide.svg")
          span Персональный экскурсовод
        li.feedback__icons-item
          img(src="./assets/img/icons/feedback/auto.svg")
          span Автомобиль с водителем

      .feedback__right
        form.feedback__form
          .feedback__form-container
            input(type="tel" placeholder="+7 (___) ___-__-__")
            button.button.button--accent(type="submit") Заказать звонок

    hr
    p.feedback__personal-data Нажимая «Заказать звонок», вы даете согласие на <a href="##">обработку персональных данных</a> и принимаете условия пользовательского соглашения.



