.excursion

  .swiper-slide
    transition: $transition
    border-radius: 12px
    &:hover
      transform: translateY(-10px)

  &-card
    height: 100%

  &__slider-wrapper
    padding-top: 10px
    overflow: hidden

