footer.footer
  .container.footer__container
    a.footer__logo(href="index.html")
      img(src="./assets/img/icons/logo-footer.svg")

    .footer__contacts
      .footer__social
        ul.footer__social-list
          li.footer__social-item
            a.footer__social-link.footer__icon(href="https://t.me/alinaspbtravelgroup" title="telegram" style="background-image: url('./assets/img/icons/social/telegram.svg')")
          li.footer__social-item
            a.footer__social-link.footer__icon(href="https://vk.com/spbtravelgroup" title="vk" style="background-image: url('./assets/img/icons/social/vk.svg')")
          li.footer__social-item
            a.footer__social-link.footer__icon(href="https://www.instagram.com/spbtravelgroup.ru" title="instagram" style="background-image: url('./assets/img/icons/social/instagram.svg')")
            img.footer__social-hint-icon(src="./assets/img/icons/important.svg")
            span.footer__social-hint-text <span>#spbtravelgroup</span> — десятки тысяч фотографий путешественников.
          li.footer__social-item
            a.footer__social-link.footer__icon(href="https://api.whatsapp.com/send?phone=79111562004" title="whatsapp" style="background-image: url('./assets/img/icons/social/whatsapp.svg')")

      a.footer__phone(href="tel:+79111562004")
        svg.footer__icon(width="35" height="35" fill="#ffcc00")
          use(href='./assets/img/sprite.svg#phone')
        span +7 (911) 156-20-04

      button.footer__question
       img.footer__icon(src="./assets/img/icons/write.svg" width="30px")
       span Задать вопрос


    nav.footer__nav.footer__nav--1
      ul.footer__nav-list
        li.footer__nav-item
          a.footer__nav-link(href="") Индивидуальные
        li.footer__nav-item
          a.footer__nav-link(href="") Обзорные по городу
        li.footer__nav-item
          a.footer__nav-link(href="") Пригороды
        li.footer__nav-item
          a.footer__nav-link(href="") По крышам
        li.footer__nav-item
          a.footer__nav-link(href="") Парадные и дворы
        li.footer__nav-item
          a.footer__nav-link(href="") Водные прогулки
        li.footer__nav-item
          a.footer__nav-link(href="") Пешеходные экскурсии, квесты
        li.footer__nav-item
          a.footer__nav-link(href="") Ночные и вечерние по огороду


    nav.footer__nav.footer__nav--2
      ul.footer__nav-list
        li.footer__nav-item
          a.footer__nav-link(href="") Авторские и тематические
        li.footer__nav-item
          a.footer__nav-link(href="") Свидание на крыше
        li.footer__nav-item
          a.footer__nav-link(href="") Фотосессии на крыше
        li.footer__nav-item
          a.footer__nav-link(href="") Аренда катеров и яхт
        li.footer__nav-item
          a.footer__nav-link(href="") Ночные водные экскурсии <br> под развод мостов
        li.footer__nav-item
          a.footer__nav-link(href="") Полет-свидание на самолете
        li.footer__nav-item
          a.footer__nav-link(href="") Салют с крыши


    nav.footer__nav.footer__nav--contacts
      ul.footer__nav-list
        li.footer__nav-item.mobile-visible
          a.footer__nav-link(href="index.html#excursions") Экскурсии
        li.footer__nav-item
          a.footer__nav-link(href="") Контакты
        li.footer__nav-item
          a.footer__nav-link(href="") Расчет тура
        li.footer__nav-item
          a.footer__nav-link(href="") Оплата и возврат
        li.footer__nav-item
          a.footer__nav-link(href="") Отзывы #spbtravelgroup
        li.footer__nav-item
          a.footer__nav-link(href="") Расчет тура


    .footer__bottom
      p.footer__copyright &copy; ООО «СПБ Тревел Групп», 2016—<span></span>
      a.footer__policy(href="##") Политика конфиденциальности

      a.footer__registry(href="##")
        img(src="./assets/img/icons/gerb.svg")
        .footer__registry-text
          p.footer__registry-title Мы в реестре туроператоров
          span.footer__registry-desc ООО "СПБ ТРЕВЕЛ ГРУПП" РТО 022600


include ../form/form
include ../_items/excursion-card/cardTemplate
include ../_items/go-top/go-top
