template#card
  article.excursion-card
    .excursion-card__image
      img(src="")
      .excursion-card__badges
        span.excursion-card__badge 2.5-3 часа
    .excursion-card__content
      h3.excursion-card__title Обзорная экскурсия по городу с посещением Эрмитажа
      p.excursion-card__timetable
        span.excursion-card__timetable-days пн - вс:
        span.excursion-card__timetable-time 13:00, 16:00
      ul.excursion-card__description-list
        //li.excursion-card__description-item Описание 1
      .excursion-card__price
        span 1 500 ₽
        a.button.button--accent(href="") Подробнее
