section.how-we-work
  .how-we-work__container.container
    h2.title-section Как мы работаем
    .how-we-work__body

      ul.how-we-work__list

        li.how-we-work__item
          img.how-we-work__item-icon(src="./assets/img/icons/how-we-work/01.svg")
          h3.how-we-work__item-title 1 Оставьте заявку
          p.how-we-work__item-text Вы выбираете на нашем сайте интересующую услугу или мероприятие и нажимаете кнопку "Забронировать"


        li.how-we-work__item
          img.how-we-work__item-icon(src="./assets/img/icons/how-we-work/02.svg")
          h3.how-we-work__item-title 2 Оплата бронирования
          p.how-we-work__item-text В течение 15 минут, вам позвонит наш менеджер, вы выбираете удобное для вас время и дату, далее менеджер выставляет вам счет для оплаты бронирования.


        li.how-we-work__item
          img.how-we-work__item-icon(src="./assets/img/icons/how-we-work/03.svg")
          h3.how-we-work__item-title 3 Подтверждение оплаты
          p.how-we-work__item-text На указанный вами почтовый адрес или мессенджер высылается ваучер, кассовый чек. А также вся подробная информация по заказу.


        li.how-we-work__item
          img.how-we-work__item-icon(src="./assets/img/icons/how-we-work/04.svg")
          h3.how-we-work__item-title 4 Программа и маршрут
          p.how-we-work__item-text Все услуги, которые мы предоставляем, выполняют профессионалы своего дела: аккредитованные гиды, водители, капитаны со стажем, компетентные менеджеры с удовольствием ответят на все вопросы.

