extends ../../layouts/main

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content

  section.section-column

    include ../../components/yandex-reviews/yandex-reviews



    include ../../components/feedback/feedback





